{% extends 'podrequest/base.html' %} {% block body_block %}

<div class="jumbotron">
    <h2 class="">Details for Pod {{device_detail.podnumber}}</h2>
    <p>
        <b>Model</b>: {{device_detail.device_model}}</p>
    <p>
        <b>Serialnumber</b>: {{device_detail.serialnumber}}</p>
    <!--"title" filter would make first letter of the word to be uppercase-->
    <p>
        <b>Type</b>: {{device_detail.device_type | title}}</p>
    <p>
        <b>Firmware</b>: {{device_detail.firmware}}</p>
    <p>
        <b>X1 IP</b>: {{device_detail.x1_ip}}</p>
    <p>
        <b>X1 Gateway</b>: {{device_detail.x1_gateway}}</p>
    <p>
        <b>X1 Subnet</b>: {{device_detail.x1_subnetmask}}</p>
    <p>        
        <b>X3 IP</b>: {{device_detail.x3_ip}}</p>
    <p>
        <b>X3 Gateway</b>: {{device_detail.x3_gateway}}</p>
    <p>
        <b>X3 Subnet</b>: {{device_detail.x3_subnetmask}}</p>
    <p>        
        <b>RDP IP</b>: {{device_detail.pod_rdpip}}</p>
</div>

{% if device_detail.available %}
<form method="post" action="{% url 'podrequest:request_device' %}">
    {% csrf_token %}
    <input type="hidden" value="{{device_detail.serialnumber}}" name='serialnumber'/>
    <input type="submit" class="btn btn-success" value="Request Device" name="" />
    <a href="{% url 'podrequest:device_list' %}" class="btn btn-secondary float-right">Go back to Devices</a>
</form>
{% else %}
{% for history_info in history_details %}<!--Cycle through the list of items that have not been returned and see if any matches with the current device-->
{% if history_info.serialnumber_id == device_detail.serialnumber%}
<form method="post" action="{% url 'podrequest:return_device' %}">
    {% csrf_token %}
    <input type="hidden" value="{{history_info.id}}" name='serialnumber' />
    <input type="submit" class="btn btn-primary" value="Return Device" name="" />
    <a href="{% url 'podrequest:device_list' %}" class="btn btn-secondary float-right">Go back to Devices</a>
</form>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
