{% extends 'podrequest/base.html' %} {% block body_block %} 

{% include 'podrequest/feedback.html' %}

<h2 class="jumbotron">Device page</h2>
<form method="post" action="{% url 'podrequest:request_device' %}">
    {% csrf_token %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Pod</th>
                <th>Model</th>
                <th>Firmware</th>
                <th>X1 IP</th>
                <th>Pod IP</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for device in device_list %}
            <tr>
                <td>{{device.podnumber}}</td>
                <td><a href="{{ device.serialnumber }}" data-toggle="tooltip" data-placement="right" title="Go to device details">{{device.device_model}}</a></td>
                <td>{{device.serialnumber}}</td>
                <td><a href="https://{{device.x1_ip}}" data-toggle="tooltip" data-placement="right" title="Go to device login page">{{device.x1_ip}}</a></td>
                <td>{{device.pod_rdpip}}</td>
                <td>
                    {% if device.available %}
                    <input type="checkbox" name='serialnumber' value={{device.serialnumber}} /> {% else %} {% for user in users_using_pod %}
                    <!--Display the name of the person who requested the pod-->
                    {% if device.serialnumber == user.serialnumber_id %}
                    <span>{{ user.first_name }} {{ user.last_name }}</span>
                    {% endif %} {% endfor %} {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="col-sm-4 mx-auto">
        <input type="submit" class="btn btn-success col-sm-5" value="Request" name="" />
        <input type="reset" class="btn btn-default col-sm-5 float-right" value="Clear" name="" />
    </p>
    {% include 'podrequest/paginator.html' %}
</form>
{% endblock %}