{% extends 'auth_app/base.html' %} {% block body_block %} {% if registered %}
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thank you for registering!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="{% url 'auth_app:user_login' %}" class="btn btn-success">Login to continue</a>
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% endif %}
<div class="col-xs-10 mx-auto col-sm-8 col-md-5">
    <!--Takes care of form width -->
    <div id="auth_form" class="bg-form">
        <div class="row form-header">
            <span class="mx-auto col-xs-6">Pod Request Tracker</span>
        </div>
        
        <form method="post" enctype="multipart/form-data" id="register">
            {%csrf_token %}
            <!--Begin Form-->
            {% for field in user_form %}
            <div class="form-group">
                <span class="col-xs-12">
                    {{ field.errors }} {{ field }}
                    <!--{% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}-->
                </span>
            </div>
            {% endfor %}
            <div class="">
                <p class="col-xs-12">
                    <button type="submit" class="btn btn-block">Register</button>
                </p>
                <p class="form-info text-center">
                    Already have an account?
                    <a href="{% url 'auth_app:user_login' %}">Login to continue</a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
