{% extends 'auth_app/base.html' %} {% block body_block %}

<div class="">
    <div class="col-xs-10 mx-auto col-sm-8 col-md-5">
        <!--Takes care of form width -->
        <div id="login" class="bg-form">
            <div class="row form-header">
                <span class="mx-auto col-xs-6">Sign In</span>
            </div>

            <!--Begin Form-->
            <form method="post" action="{% url 'auth_app:user_login' %}">
                {%csrf_token %}
                <div class="form-group">
                    <span class="col-xs-12">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    </span>
                </div>
                <div class="form-group">
                    <span class="col-xs-12">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </span>
                </div>
                <div class="">
                    <p class="col-xs-6">
                        <button type="submit" class="btn btn-block">Log In</button>
                    </p>
                    <p class="col-xs-6 form-info mx-auto">Don't have an account? <a class="" href="{% url 'auth_app:register' %}">Register here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}