<!DOCTYPE html> {%load staticfiles%}

<html>

<head>
    <title>PODS</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" />
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-light">
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index'%}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth_app:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'podrequest:device_list' %}">Device</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'podrequest:return_device' %}">Request History</a>
                </li>
             </ul>

             <!--Right-aligned menu-->
             <ul class="nav ml-auto">
                {% if user.is_authenticated %}
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="#">{{ user.get_full_name }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auth_app:user_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
            </div>
        </nav>
        <div id="information">
        {% block body_block %}
        <!--Anything outside of this will be inherited if you extend-->
        {% endblock %}
        </div>
    </div>
</body>
<script type="text/javascript">
        $.ajax({
            method: "GET",
            url: "/podrequest/?xhr",
            dataType:"json",
            success: function (context_data) {
                console.log("CONTEXT!!!"+context_data.users_using_pod)
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        });
</script>
</html>