<!--Gives users feedback about their action-->

{% if messages %}
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                    {% for message in messages %}
                    <div {% if message.tags == "error" %} class="alert-danger modal-title alert col-sm-12" {% endif %}class="alert-{{ message.tags }} modal-title alert col-sm-12">{{ message }}</div>
                        {% endfor %}
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button href="{% url 'auth_app:user_login' %}" class="btn" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
{% endif %}