{% extends 'podrequest/base.html' %} {% block body_block %}

<h1 class="jumbotron">Request History</h1>
<form method="post" action="{% url 'podrequest:returnDevice' %}">
    {% csrf_token %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Date requested</th>
                <th>Time Requested</th>
                <th>Serialnumber</th>
                <th>Date returned</th>
                <th>Time returned</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            {% for history in request_history %}
            <tr>
                <td>{{history.date_requested}}</td>
                <td>{{history.time_requested}}</td>
                <td>{{history.serialnumber_id}}</td>
                <td>{{history.date_returned}}</td>
                <td>{{history.time_returned}}</td>
                <td>
                    <input type="checkbox" name='request_history_object' value={{history.id}} />
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" class="btn btn-success" value="Return" name="" />
    <input type="reset" class="btn btn-default" value="Clear" name="" />
</form>
{% endblock %}