{% extends 'password_reset/base.html' %} {% block body_block %}
<h1 class="jumbotron">Pod Request Tracker</h1>
<div class="col-sm-6 mx-auto">
<h2>Reset Password</h2>
<p>Password reset link would be sent to you:</p>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="form-info">
        <input type="submit" class="btn btn-info col-md-5 float-left" value="Send Password Reset Link">
        <a href="{% url 'auth_app:user_login' %}" class="btn btn-light col-md-5 float-right" role="button">Cancel</a>
    </div>
</form>
</div>
{% endblock %}